@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  height: 100vh;
  background-image: url("../images/wp_coffee.jpg");
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

#logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  width: 200px;
}

button,
.button {
  border: none;
  background-color: #52352e;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
}

#addDrink {
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  background-color: #52352ed8;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;
  z-index: 999;
}

#addDrink h2 {
  font-size: 2rem;
}

#addDrink p {
  display: flex;
  justify-content: center;
}

#addDrink label {
  text-align: right;
  padding-right: 10px;
}

#addDrink label,
#addDrink input,
textarea {
  display: block;
  width: 50%;
}

#addDrink button {
  background-color: #ce9587;
  color: #52352e;
}

.addDrinkUnhide {
  left: 50% !important;
}

#drinks_list ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

#drinks_list li {
  margin: 20px;
  list-style-type: none;
}

/*********************
*Drinks card
*********************/
.card,
.card_drink {
  background-color: rgba(221, 221, 221, 0.74);
  padding: 0;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
}

.card_header {
  background-image: url("./Beer.jpg");
  background-size: cover;
  background-position: center center;
  height: 150px;
  overflow: hidden;
}

.card_header img {
  width: 100%;
  transition: 1s;
}

.card_body h3 {
  font-size: 2rem;
  line-height: 0.5rem;
}

.card_body {
  padding: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  display: block;

  color: #db2c2c;
}

.card_body a {
  color: #265f26;
  text-align: right;
}

#drink_recipe .card_body a {
  color: #db2c2c;
  position: absolute;
  right: 130px;
  bottom: 10px;
}

.card_footer {
  background-color: #52352e;
  padding: 5px 20px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  color: #fff;
  font-weight: 700;
}

.card:hover .card_header img {
  transform: scale(150%) rotate(10deg);
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(37, 37, 37, 0.719);
  transform: translate(-5px, -5px);
}

/*******************
*Drinkpage Style
*******************/
#drink_recipe {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_drink {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 600px;
}

.card_drink .card_header {
  height: unset;
  width: 50%;
}

.card_drink .card_header img {
  /*height: 100%;*/
  width: 100%;
}

.card_drink .card_body {
  width: 50%;
}

.card_body p:first-of-type {
  font-weight: bold;
  color: #52352e;
}

@media screen and (max-width: 456px) {
  body {
    height: unset;
  }
  #logo {
    justify-content: center;
  }
  #addDrink {
    width: 90%;
  }
  #drink_recipe {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    width: unset;
  }
  .card_drink {
    width: 90%;
    margin-top: 20px;
    height: unset;
    flex-direction: column;
  }
  .card_drink .card_header {
    width: 100%;
  }
  .card_drink .card_body {
    width: unset;
  }
  #drink_recipe .card_body a {
    color: #db2c2c;
    position: relative;
    right: 0px;
    bottom: 0px;
  }
}
