/*******************
Google Fonts
*******************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

/*******************
Style
*******************/
body {
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  /* height: 100vh; */
  background-image: url("../images/wp_coffee.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Niconne", cursive;
}

#logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#logo img {
  width: 200px;
}

button,
.button {
  border: none;
  background-color: #52352e;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
}

#addDrink {
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  background-color: #52352ed8;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;
  z-index: 999;
}

#addDrink h2 {
  font-size: 2rem;
}

#addDrink p {
  display: flex;
  justify-content: center;
}

#addDrink label {
  text-align: right;
  padding-right: 10px;
}

#addDrink label,
#addDrink input,
textarea {
  display: block;
  width: 50%;
}

#addDrink button {
  background-color: #ce9587;
  color: #52352e;
}

.addDrinkUnhide {
  left: 50% !important;
}

#drinks_list ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

#drinks_list li {
  margin: 20px;
  list-style-type: none;
}

/*********************
Drinks card
*********************/
.card,
.card_drink {
  background-color: rgba(221, 221, 221, 0.74);
  padding: 0;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
}

.card_header {
  background-size: cover;
  background-position: center center;
  height: 150px;
  overflow: hidden;
}

.card_header img {
  width: 100%;
  transition: 1s;
}

.card_body h3 {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  line-height: 0.1rem;
}

.card_body {
  padding: 20px;
}

.card_body p:first-of-type {
  color: #52352e;
  height: 80px;
}

a {
  text-decoration: none;
  font-weight: bold;
  display: block;

  color: #db2c2c;
}

.card_body a {
  color: #265f26;
  text-align: right;
}

.card_footer {
  background-color: #52352e;
  padding: 5px 20px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  color: #fff;
  font-weight: 700;
}

.card:hover .card_header img {
  transform: scale(150%) rotate(10deg);
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(37, 37, 37, 0.719);
  transform: translate(-5px, -5px);
}

/*******************
Drinkpage Style
*******************/
/* #drink_recipe {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
#logo img {
  width: 150px;
}
#logo a#back_button img {
  width: 40px;
  filter: opacity(0.8);
}
.card_drink {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.card_drink .card_header {
  height: unset;
  width: 50%;
}

.card_drink .card_header img {
  height: 100%;
  width: unset;
  margin-left: -100%;
}

.card_drink .card_body {
  width: 50%;
}

.card_drink .card_body p:first-of-type {
  height: unset;
}

.card_body #recipe {
  height: 35vh;
  min-height: min-content;
  overflow: auto;
}

#drink_recipe .card_body a {
  color: #db2c2c;
}

#others_recipe {
  text-align: center;
}

#others_recipe h2 {
  color: #fff;
  text-shadow: 0px 0px 10px #000;
}

#others_recipe div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#others_recipe .others_recipe-card {
  font-family: "Niconne", cursive;
  width: 250px;
  height: 150px;
  background-size: cover;
  padding: 10px;
  margin: 0 20px 20px 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  font-size: 1.8rem;
  text-shadow: 3px 3px 10px #000;
}

/*******************
Phone Styles
*******************/
@media screen and (max-width: 456px) {
  body {
    height: unset;
  }
  /* #logo.logo_center {
    justify-content: center;
  } */

  #addDrink {
    width: 90%;
  }
  #drink_recipe {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    width: unset;
  }
  .card_drink {
    width: 90%;
    margin-top: 20px;
    height: unset;
    flex-direction: column;
  }
  .card_drink .card_header {
    width: 100%;
    height: 200px;
  }
  .card_drink .card_header img {
    height: unset;
    width: 100%;
  }
  .card_drink .card_body {
    width: unset;
  }
  .card_body #recipe {
    height: unset;
  }
  #drink_recipe .card_body a {
    color: #db2c2c;
    position: relative;
    right: 0px;
    bottom: 0px;
  }
  #others_recipe div {
    width: 100%;
  }
}
